<div class="center hero-unit">
  <h1>Welcome to Everything Brackets</h1>

  <h2>
    What would you like to bracket today?
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
